%h1="NDTV Top Stories"
#rss_feeds.mtp-50
  = render @rss_feeds
-unless @rss_feeds.blank?
  %p.mtp-5.pagination_link= link_to 'Load Older feeds', root_path(page: params[:page].to_i.succ), remote: true, id: "load_more_link"