.mtp-50
{
  margin-top:50px;
}
.mtp-5{
  margin-top:5px;
}
.form-signin
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
p.pagination_link
{
  text-align: center;
  border: 1px solid grey;
  padding: 5px;
  }
}